extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of game' name='title' required='true' value=(undefined===game ? '' : game.title) )
    div.form-group
      label(for='studio') Studio:
      select#studio.form-control(type='select', placeholder='Select studio' name='studio' required='true' )
        //- - studios.sort(function(a, b) {let textA = a.studio_name.toUpperCase(); let textB = b.studio_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for studio in studio_list 
          if game
            option(value=studio._id selected=(studio._id.toString()===game.studio._id.toString() ? 'selected' : false) ) #{studio.studio_name}
          else
            option(value=studio._id) #{studio.studio_name}
    div.form-group
      label(for='summary') Summary:
      textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true') #{undefined===game ? '' : game.summary}
    div.form-group
      label(for='rating') Rating:
      input#rating.form-control(type='text', placeholder='Rating' name='rating' value=(undefined===game ? '' : game.rating))
      label(for='release_date') Release Date:
      input#release_date.form-control(type='date' name='release_date' value=(undefined===game ? '' : game.release_date))
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='Coming Soon') Coming Soon
        option(value='Early Access') Early Access
        option(value='Released') Released
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
