extends layout

block content
  h1 Title: #{game.title}

  p #[strong Studio: ]
    a(href=game.studio.url) #{game.studio.studio_name}
  p #[strong Summary: ] #{game.summary}
  p #[strong Release Date: ] #{game.release_date_formatted}
  p #[strong Status: ]
    if game.status === 'Released'
        span.text-success #{game.status}
    else if game.status=='Coming Soon'
        span.text-danger #{game.status}
    else
        span.text-warning #{game.status}
    if game.status === 'Released'
        p #[strong Rating: ] #{game.rating}

  hr
  p
    a(href=game.url+'/update') Update Game
  p
    a(href=game.url+'/delete') Delete game